.wrapper{
    min-width: 100px;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.primary{
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover{
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}